<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://img.freepik.com/vector-gratis/logotipo-empresa-negocios-supermercado-organico_23-2148462396.jpg?t=st=1719721463~exp=1719725063~hmac=d23e3fd37d38efd7c457e5df77ab8ea2bd613806cc8cd1399cf5175205311d96&w=826" width="30" height="30" class="d-inline-block align-top" alt="">        
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productos/addProducto">Formulario Productos</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorias/addCategoria">Formulario Cateogorías</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/categorias">Categorías</a>
          </li>          
        </ul>
      </div>
  </nav>